@model AssignifyIt.Models.AboutViewModel
@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    @Model.Message
</p>
<br />
<ul>
    @foreach (var a in @Model.Assignees)
    {
        <li>@string.Format("{0} {1}", a.Name, a.Email) </li>
    }
</ul>

