@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*
<script type="text/javascript">
    $("#txtName").autocomplete(
        { source: "/Home/GetAssignees" });
</script>
*@
@*
<div class="ui-widget">
    <input type="text" name="txtName" id="txtName" />
</div>
*@

<script type="text/javascript">
    $(function() {
        $("#txtName").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/Home/GetAssignees",
                    type: "POST",
                    dataType: "json",
                    data: { searchText: request.term},
                    success: function(data) {
                        response($.map(data, function(item) {
                            return { label: item.Name, value: item.Name, id: item.Id }
                        }))
                    }
                })
            },
            select: function (event, ui) {
                alert(ui.item ? ("You Picked '" + ui.item.label + "' with an Id of " + ui.item.id)
                    : "Nothing selected, input was " + this.value);
            }
        });
    });
                        
                
                        
                        
            </script>



@using (Html.BeginForm("SubmitAssignment","Assignment"))
{
    <input id="txtName" name="txtName" type="text" />
    <input type="submit" value="Go" />
}


