@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    $("#txtName").autocomplete({ source: "/Home/GetAssignees" });
</script>

<div class="ui-widget"><input type="text" name="txtName" id="txtName" /></div>
