@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<script type="text/javascript">
    $(document).ready(function() {
        $("#ddAssignees").autocomplete({
            source: "/Home/GetAssignees"
        });
    });
</script>

<div class="ui-widget"><input type="text" name="ddAssignees" id="ddAssignees" /></div>
