@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*
<script type="text/javascript">
    $("#txtName").autocomplete(
        { source: "/Home/GetAssignees" });
</script>
*@
@*
<div class="ui-widget">
    <input type="text" name="txtName" id="txtName" />
</div>
*@

<script type="text/javascript">
    $(function () {
        $("#txtName").autocomplete({
            source: "/Home/GetAssignees",
            minLength: 1,
            
            
        });
    });
</script>



@using (Html.BeginForm("SubmitAssignment","Assignment"))
{
    <input id="txtName" name="txtName" type="text" />
    <input type="submit" value="Go" />
}
